* {
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

.container, .display, .big-buttons button, .smaller-buttons button {
    border: 2px #252525 solid;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #FFFFFF;
    border-radius: 8px;
}

.container {
    background-color: #bebebd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    max-width: 600px;
    padding: 10px;
    gap: 20px;
}

.display {
    display: flex;
    width: 330px;
    min-height: 125px;
    margin-top: 20px;
    justify-content: flex-end;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #FFFFFF;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.big-buttons button {
    background-color: #EDE6E3;
    color: #252525;
    cursor: pointer;
    width: 160px;
    height: 75px;
}

.smaller-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0;
    padding: 20px;
    border-radius: 0 0 8px 8px;
}

.smaller-buttons button {
    padding: 0;
    cursor: pointer;
    width: 75px;
    height: 75px;
}

.seven, .eight, .nine, .four, .five, .six, .one, .two, .three, .decimal, .zero, .equals {
    background-color: #36413E;
}

.big-buttons button:hover, .smaller-buttons button:hover {
    background-color: #BB4430;
}

.smaller-buttons, .big-buttons {
    max-width: 375px;
    gap: 10px;
}

.displayText {
    display: flex;
    align-items: flex-end;
    color: #252525;
    margin: 0;
    padding: 15px 25px;
    line-height: 1.2;
}

.orange {
    background-color: #F06449;
}